#index_header {
	background-image: url("../images/header_index.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

#story_section, #menu_section, #ordering_section, #contact_section {
	height: 508px;
}

.centered {
	margin:0 auto;
	width: 350px;
	height: 233px;
	text-align: center;
	margin-bottom: 20px;
}

.left-sided, .right-sided {
	display: inline-block;
	margin: 0 auto;
	width: 410px;
	height: 110px;
	margin-bottom: 20px;
	font-size: 12px;
}

.left-sided {
	padding-left: 40px;
	text-align: left;
	float: left;
}

.right-sided {
	padding-right: 40px;
	text-align: right;
	float: right;
}

#story_section_img {
	height: 255px;
	background-image: url("../images/story_section.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

#ordering_section_img {
	height: 255px;
	position: relative;
	background-image: url("../images/order_section.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

#contact_info_section {
	height: 160px;
	background: #000;
	color: #ffffff;
	text-align: center;
	line-height: 0.5;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

#contact_info_section a:link, #contact_info_section a:visited {
	color: #ffffff;
	line-height: normal;
	text-decoration: none;
}

.slideshow { 
	height: 255px;
	position: relative;
	display: block;
	overflow: hidden;
}

.slideshow figure {
	display: inline-block;
	margin: 0 auto;
	position: absolute;
	opacity: 0;
	transition: 2s opacity;
}

.slideshow figure.show {
	opacity: 1;
	position: static;
	transition: 2s opacity;
}

.slideshow figure img {
	width: 900px;
}

.next, .prev {
	color: #ffffff;
	position: absolute;
	background: rgba(0,0,0, 0.6);
	top: 50%;
	z-index: 1;
	font-size: 2em;
	margin-top: -.75em;
	opacity: 0.3;
	user-select: none;
}

.next:hover, .prev:hover {
	cursor: pointer;
	opacity: 1;
}

.next {
	right: 0;
	padding: 10px 5px 15px 10px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.prev {
	left: 0;
	padding: 10px 10px 15px 5px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.scrolltop, a:visited.scrolltop {
	color: #ffffff;
	text-decoration: none;
	font-family: Convergence, Aldrich, serif;
	position: absolute;
	background: #000;
	padding: 16px 14px;
	opacity: 1;
	bottom: -1.5em;
	left: 47%;
	border-radius: 35px;
	border-bottom: 1px solid #fff;
}


